*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: darkgray;
}

body{
    font-family: sans-serif;
    padding: 90px 0;
}

.header{
    background-color: darkcyan;
    height: 75px;
   
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display:flex;
    justify-content: space-between;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
   
    line-height:75px;
}


.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}


.nav-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 75px;
    text-transform: uppercase;
    width: max-content;
}

.link:hover{
    background-color:darkslategray;
    transition: 0.5s;   
}

.link{
    padding: 8px 10px;
    border-radius: 5px;
}

.total{
    width: 150px;
    height: 120px;
    padding: 10px 12px;
    background-color: seashell;
    border-radius: 4px;
}

.total span{
    padding-bottom: 10px;
    background-color: seashell;
}
