*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

body{
    font-family: sans-serif;
    background-color: #b7bdbd;
}

.header{
    background-color: #353837;
    height: 90px;
    width: 100%;
}

.navigation{
    display: flex;
    justify-content: space-between;    
}

.nav-link{
    color: whitesmoke;
    text-decoration: none;
}

.logo{
    font-size: 35px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
    line-height: 80px;
    width: max-content;
}

.nav-menu-item{
    font-size: 16px;
    margin: 0 10px;
    text-transform: uppercase;
}

.nav-menu-link:hover{
    background-color: #6A7472;
    transition: 1s;
}

.nav-menu-link{
    padding: 20px 12px;
    border-radius: 5px;
}

img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 5px;
}

.contenedor{
    width: 450px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color:whitesmoke;
    margin: 15px 15px;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.contenedor div{
    background-color:whitesmoke;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;  
}

.container div{
    padding: 5px 5px;
    background-color: #353837;
    border-radius: 5px;
    margin-bottom: 10px;
}